@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@config "../tailwind.config.ts";

@theme {
	--font-sans: 'Montserrat', sans-serif;
}

@layer base {
	body {
		background-color: #171717;
		color: white;
	}
}
